<form th:action="@{/Gdt/criar}" method="post">
    <h3>formulário de Criação de Gdt</h3>

    <label>Nome do Responsavel</label>
    <input type="text" name="Responsavel">

        <label>Descrição Gdt</label>

            <textarea name="descricaoGdt"></textarea>

            <label>Email</label>
            
             <input type="email" name="email">

             <label>Nome do Grupo</label>
               <input type="text" name="nomeGrupo">

            <button type="submit">Salvar</button>

            
        </form>